canvas {
  border: 1px solid black;
  width: 800px;
  height: 350px;
  margin-left: 50px;
  margin-top: 50px;
}
.first {
  border: 1px solid blue;
  width: 800px;
  height: 350px;
  margin-left: 50px;
  margin-top: 50px;
}
