<div class="row justify-content-center m-0 mt-5">
  <div class="col-8">
    <!-- <button (click)="autoDraw()" class="btn btn-sm">Auto Draw</button> -->
    <!-- <button (click)="updateGridSize()" id="save" class="btn btn-sm ml-3">Grid</button> -->
    <!-- <button (click)="refresh()" class="btn btn-sm ml-3">Refresh</button> -->
    <button (click)="save()" id="save" class="btn btn-sm ml-3">Save</button>
    <button (click)="clear()" class="btn btn-sm ml-3">Clear</button>
  </div>
</div>
<div class="row justify-content-center m-0">
  <div class="col-8">
    <!-- <div
      class="divide_canvas"
      [style.left]="canvas.width / 3 + 'px'"
      [style.height]="canvas.height + 'px'"
    ></div>
    <div
      class="divide_canvas1"
      [style.left]="2 * (canvas.width / 3) + 'px'"
      [style.height]="canvas.height + 'px'"
    ></div> -->
    <canvas #myCanvas [width]="canvas.width" [height]="canvas.height"> </canvas>
  </div>
  <div class="col-4">
    <img
      [src]="imageSrc"
      style="background-color: beige"
      alt="Drawing in-progress!"
      *ngIf="isClear"
    />
  </div>
</div>
