<div class="row justify-content-center m-0 mt-5">
  <div class="col-8">
    <!-- <button (click)="autoDraw()" class="btn btn-sm">Auto Draw</button> -->
    <!-- <button (click)="updateGridSize()" id="save" class="btn btn-sm ml-3">Grid</button> -->
    <button (click)="refresh()" class="btn btn-sm ml-3">Refresh</button>
    <button (click)="save()" id="save" class="btn btn-sm ml-3">Save</button>
    <button (click)="clear()" class="btn btn-sm ml-3">Clear</button>
  </div>
</div>
<div class="row justify-content-center m-0">
  <div class="col-8">
    <canvas #myCanvas width="1600" height="534"></canvas>
  </div>
  <ng-container *ngIf="imageSrc">
    <div class="col-4">
      <img [src]="imageSrc" style="background-color: beige" />
    </div>
  </ng-container>
</div>
<!-- <div class="row justify-content-center m-0">
  <div class="col-12">
    <img [src]="imageSrc" style="background-color: beige;"/>
  </div>
</div> -->
